
.min-h-screen{
    min-height: 80vh;
}
.bg-red{
    background-color: red;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.container{
    max-width: 80vw;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}

.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.font-bold{
    font-weight: bolder;
}

.text-blue{
    color: rgb(88, 88, 236);
}
.text-aqua {
    color: aqua; /* Aqua color */
    text-shadow: px 2px 4px rgb(0, 0, 0.5);
}
*{
    margin: 0%;
    padding: 0%;
}

.container{
    max-width: 80vw;
}

.navbar{
    display: flex;
    height: 67px;
}
.navbar li{
    list-style: none;
    margin: 0 12px;
}


.my1{
    margin-top: 13px;
    margin-bottom: 13px;
}
.px1{
    padding-left: 13px;
    padding-right: 13px;
}

.bet{
    color: aqua;
    background-color: rgba(99, 6, 180, 0.64);
    border-radius: 7px;
    padding: 4px 10px;
    cursor: pointer;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
.bckimg{
    background-image: url(image\ 6.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    background-attachment: fixed;
}