*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 100%;
    padding: 0 20px;
}

.navbar{
    display: flex;
    height: 67px;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}
.navbar li{
    list-style: none;
    margin: 0 12px;
}

.topleft{
    width: 50%;
    height: 50vh;
}
.topright{
    width: 50%;
    height: 50vh;
}
.rightposition{
    position: relative;
}
.section1{
    height: 50vh;
}

.my1{
    margin-top: 13px;
    margin-bottom: 13px;
    margin-right: 13px;
}
.px1{
    padding-left: 13px;
    padding-right: 13px;
}

.bet{
    color: aqua;
    background-color: rgba(99, 6, 180, 0.64);
    border-radius: 7px;
    padding: 4px 10px;
    cursor: pointer;
}

h1 {
    font-size: 2rem; /* Adjust as needed */
}

p {
    font-size: 1rem; /* Adjust as needed */
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.875rem;
    }
}
